@charset "utf-8";
/*css document*/

.hidden
{
  display: none;
}

.container{
  margin: 0 auto;
	width: 1200px;
	background-color: #fff;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.topandBot
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.medals
{
  font-family: helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #434343;
}

p
{
  font-family: helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #434343;
}

.analysis
{
  margin-top: 45px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
	background-color: #fff;
}
.analysis img
{
  /* margin-top: 70px; */
  width: 400px;
  margin-left: -70px;
  /* position: absolute; */
}

.analysis p{
  width: 300px;
  height: 250px;
  line-height: 2;
}
